# Data Science Tools and Ecosystem

In this Jupyter Notebook, we will study about the concepts concepts taught on the "IBM Tools for Data Science" course

## **Objectives:**

- List of Data Scientists languages
- List of Data Scientists Libraries
- List of  Data Scientists Tools

### Data Scientists languages

1. Python
2. R
3. C/C++

### Data Scientists Libraries
Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

### Data Scientists Tools

| Data Science Tool |
| ---- |
| VS Code |
| Git Lab|
| IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

| Operators | Syntax | Functioning |
| ---- | ---- | ---- |
| + | x + y | Addition |
| – | x – y | Subtraction |
| * | x * y |Multiplication |
|/ | x / y |Division |

In [7]:
(3*4)+5

#This exemple is a simple arithmetic expression to mutiply andd add integers

17

In [8]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Leonardo Mezzari